<h1>Create Pirate and Fleet</h1>

<form method="POST" action="/pirates">
  <h2>Create Pirate</h2>
  <label for="pirate_name"><b>Name:</b> </label>
  <input type="text" name="pirate[name]" id="pirate_name"><br><br>
  <label for="pirate_weight"><b>Weight:</b> </label>
  <input type="text" name="pirate[weight]" id="pirate_weight"><br><br>
  <label for="pirate_height"><b>Height:</b> </label>
  <input type="text" name="pirate[height]" id="pirate_height"><br><br>
  <h2>Create Ship 1</h2>
  <label for="ship_name_1"><b>Name:</b> </label>
  <input type="text" name="pirate[ships][][name]" id="ship_name_1"><br><br>
  <label for="ship_type_1"><b>Type:</b> </label>
  <input type="text" name="pirate[ships][][type]" id="ship_type_1"><br><br>
  <label for="ship_booty_1"><b>Booty:</b> </label>
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"><br><br>
  <h2>Create Ship 2</h2>
  <label for="ship_name_2"><b>Name:</b> </label>
  <input type="text" name="pirate[ships][][name]" id="ship_name_2"><br><br>
  <label for="ship_type_2"><b>Type:</b> </label>
  <input type="text" name="pirate[ships][][type]" id="ship_type_2"><br><br>
  <label for="ship_booty_2"><b>Booty:</b> </label>
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"><br><br>
  <input type="submit" value="Submit">
</form>