<h1>Create Your Own Pirate!</h1></br>

<form action="/pirates" method="post">
<label for="pirate">Pirate Details</label>
  <h4>Pirate Name: <input type="text" name="pirate[name]"></h4>
  <h4>Pirate Weight: <input type="text" name="pirate[weight]"></h4>
  <h4>Pirate Height: <input type="text" name="pirate[height]"></h4>
  <h4>Ship Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></h4>
  <h4>Ship Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></h4>
  <h4>Ship Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></h4>
  <h4>Ship Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></h4>
  <h4>Ship Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></h4>
  <h4>Ship Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></h4>
  <button type="Submit">Submit</button>
</form>
